{{> navAuth}}
<div class="card">
    <div class="card-body">
        <h1>Jobs Dashboard</h1>
        <h2>Add Jobs</h2>
        <p>Here you can add jobs for users</p>
    </div>
    <hr>
    <div class="card-body">
        <form action="/jobs/addjob" method="POST">
            <div class="form-group">
                <input type="name" name="name" placeholder="Name" class="form-control" value="{{name}}" required/>
            </div>
            <div class="form-group">
                <label>Started Date: </label>
                <input type="date" name="startedDate" placeholder="Started Date" class="form-control" value="{{startedDate}}" required/>
            </div>
            <div class="form-group">
                <label>Due Date: </label>
                <input type="date" name="dueDate" placeholder="Due Date" class="form-control" value="{{dueDate}}" required/>
            </div>
            <div class="form-group">
                <textarea name="description" placeholder="Description" class="form-control" value="{{description}}" required></textarea>
            </div>
            <div class="form-group">
                <input type="name" name="_id" placeholder="Employer ID" class="form-control" value="{{_id}}" required/>
            </div>
            <div class="form-group">
                <input type="number" name="amountPayment" placeholder="Amount Payment" class="form-control" value="{{amountPayment}}" required/>
            </div>
            <div>
                <label>Image: </label>
                <img src="/img/main.PNG" class="mx-auto d-block m-4 logo" alt="Logo">
            </div>
            <div>
                <label>Choose a category: </label><br>
                <select class="form-control" name="category" value="{{category}}">
                    <option>Plumbing</option>
                    <option>Carpentry</option>
                    <option>Gardening</option>
                    <option>Messenger</option>
                    <option>Cleaning</option>
                    <option>Computing</option>
                    <option>Electronics</option>
                    <option>Mechanic</option>
                    <option>Other</option>
                </select>
            </div><br>
            <div>
            <div class="form-group">
                <input type="name" name="address" placeholder="Address" class="form-control" value="{{address}}" required/>
            </div>
            </div>
            <div class="form-group">
                <input type="number" name="maxWorkers" placeholder="Maximum Workers" class="form-control" value="{{maxWorkers}}" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                    Add Job
                </button>
            </div>
        </form>
    </div>
</div>